<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome to Cool Game Nickname Generator!</h1>
    <h3>Don't waste your time on the character creation menu, just generate one here!</h3>

    <h3>Click the button below!</h3>
    <form action="/generate/" method="post">
        {% csrf_token %}
        <input type="submit" name="generate" value="Generate">
    </form>
</body>
</html>