<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Here's your new nickname!</h2>
    <h3>{{answer}}</h3>
    <h4>Don't like it? Try again!</h4>
    <form action="/generate/" method="post">
        {% csrf_token %}
        <input type="submit" name="generate" value="Generate">
    </form>
</body>
</html>